####################################
### Server Configuration
####################################
.env
/data
.install_date

####################################
### Launcher
####################################
__pycache__/

####################################
### Elastic Stack
####################################
logstash_ingest_data/
